button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: Green;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #00a600;
  }
  
  button,
  button span {
    transition: 200ms;
  }
  
  button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }
  
  button .icon {
    position: absolute;
    border-left: 1px solid #006e00;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button svg {
    width: 20px;
    fill: #eee;
  }
  
  button:hover {
    background: #00a600;
  }
  
  button:hover .text {
    color: transparent;
  }
  
  button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
  button:focus {
    outline: none;
  }
  
  button:active .icon svg {
    transform: scale(0.8);
  }
  