:root{
  --a7a :#ffd700;
}

/* From Uiverse.io by UtariD86 */ 
button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--a7a);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: var(--a7a);
  position:relative;
  transform: scale(0.9);
}

button,
button span {
  transition: 200ms;
}

button .text {
  transform: translateX(35px);
  color: white;
  font-weight: 500;
  font-size: 16px;
}

button .icon {
  position: absolute;
  border-left: 1px solid #cccc00;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  width: 15px;
  fill: #eee;
}

button:hover {
  background: var(--a7a);
}

button:active {
  background: #ccbb00;
}

button:hover .text {
  color: transparent;
}

button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

button:focus {
  outline: none;
}

button:active .icon svg {
  transform: scale(0.8);
}

.buttonSpan {
  color: white;
  margin: 150px;
  font-size: 30px;
  display: flex;
  align-items: center;
}
i{
  font-size: 18px;
}
